
/* global styles */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@font-face {
    src: url('assets/font/29lt-bukra-bold.ttf');
    font-family: "29LTBukra";
}

body {
    font-family: lato;
}
 

/* singup section */
.signup-container {
    width: 440px;
    border-radius: 5px;
    box-shadow: 0 6px 67px 0 rgba(11, 116, 55, 0.14);
    position: absolute;
    top: 0px;
    right: 100px;
    z-index: 10;
    background: white;
    margin-top: 150px;
    padding-bottom: 30px;
}

.signup-title {
    transform: rotate(-3deg);
    font-size: 28px;
    text-align: center;
    margin-top: 42px;
    color: #4d4d4d;
}

.grey-text-15 {
    font-size: 15px;
    text-align: center;
    color: #888888;
}

.grey-text-13 {
    font-size: 13px;
    text-align: center;
    color: #888888;
}
.form-group {
    margin-bottom: 10px;
}
.form-control {
    border: none;
    border-bottom: solid 1px #e4e4e4;
    font-family: "29LTBukra";
    color: #4d4d4d;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
}
label {
    margin-bottom: 0;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: solid 1px #e4e4e4;
}

.signup-btn {
    border-radius: 3px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #d92f26;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.signup-btn:hover {
    color: white;
}


.free-of-charge-text {
    position: absolute;
    top: 750px;
    right: 120px;
}

/* content styles  */
.benefits-title {
    font-size: 32px;
    font-weight: normal;
    color: #4d4d4d;
    text-transform: uppercase;

}
.red-seperator {
    width: 68px;
  border-radius: 2px;
    background-color: #d92f26;
    height: 3px;
}
.grey-text-17 {
    font-size: 17px;
    text-align: center;
    color: #888888;
}
.bottom-seperator {
    border-bottom: solid 2px #d8d8d8;
}
.percentage-col {
    text-align: center;
    line-height: 150px;
}

.percentage-text {
    font-weight: bold;
  letter-spacing: -2px;
  color: #464f56;
  font-size: 34px;
    display: inline-block;
}
.text-red {
    color: #d92f26;
}
.nyp-connect-img {
    width: 100%;
    position: absolute;
    z-index: -10;
}
.nyp-connect-text {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    font-family: 'Open Sans';
    z-index: 10;
    color: white;
    padding-top: 200px;
}
.white-seperator {
    width: 68px;
  border-radius: 2px;
    background-color: white;
    height: 3px;
}
.white-text-18 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.white-text-14 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.avatar-container {
    margin-top: 100px;
}
.mt-8 {
    margin-top: 8rem;
}


/* media querys  */

@media only screen and (max-width: 768px) {
    .signup-container {
        width: 320px;
        position: absolute;
        top: 0px;
        right: 20px;
        margin-top: 0;
        padding-bottom: 30px;
    }   
    .free-of-charge-text {
        top: 709px;
        right: 80px;
    }
    .grey-text-13 {
        font-size: 10px;
    }
    .grey-text-15 {
        font-size: 12px;
    }
    .grey-text-17 {
        font-size: 14px;
    }
    .percentage-col {
        text-align: center;
        line-height: 110px;
    }
    .percentage-text {
        font-size: 24px;
    }
    .chart-img {
        width: 110px;
    }
    .nyp-connect-text {
        font-size: 16px;
        padding-top: 55px;
    }
    .avatar-container {
        margin-top: 0px;
    }
}